<% if @user.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-error">
      <%= I18n.t('form_has_x_errors', :count => @user.errors.count) %>
    </div>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li>* <%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
